body {
	margin:0;
	padding:0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.hidden	{
	display: none;
}

#container {
	width:1000px;
	margin:auto;
}

#logo img {
	padding:4px;
}

/* Header */
nav {
	background-color:#325EB2;
	text-align:center;
}

nav ul {
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}

nav .headnav li {
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}

nav a {
	color:#fff;
	text-decoration:none;
	display:inline-block;	
	margin:0;
	padding:4px 8px;
	font-weight:bold;
}

nav button {
	display: none;
}

.dropdown {
	display: none;
}


@media screen and (max-width: 900px){
    nav {
        width: 100vw;
        display: flex;
        justify-content: end;
    }

    nav .headnav {
        display: none;
    }

    nav button {
		display: block;
		margin-right: 1rem;
        width: 4rem;
        height: 4rem;

        background-image: url(images/menu_FILL0_wght400_GRAD0_opsz24.svg);
        background-repeat: no-repeat;
        background-size: 100%;

        background-color: inherit;
        border: none;
    }

	.dropdown {
		display: block;
		width: 100vw;
		background-color: grey;
	}

	.dropdown ul {
		width: 100%;
	}

}


nav a:hover,
nav a:focus,
nav a:active {
	background-color:#213091;	
}



img.floatleft {
	float:left;
	margin:0 5px 5px 0;
}

main {
	padding:10px 30px;
	float:left;
	width:700px;
	padding:0 10px 10px 0;
	box-sizing:border-box;
}

@media screen and (min-width: 1000px) {

	#topics-list {
	width:300px;
	float: right;
	box-sizing:border-box;
	padding:0 0 10px;
	vertical-align: top;
	position: sticky;
	}
}

footer {
	clear:both;
	margin:20px 0 50px 0;
	text-align:center;
	background-color:#eee;
	padding:3px;	
}